extends base

block content
    div
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    div
    a(href=`${video.id}/delete`) Delete Video &rarr;



//- 제일앞에 /가있으면 절대경로
    a(href="/video/edit")--->localhost:4000/video/edit
    a(href="video/edit")--->localhost:4000/videos/video/edit
    a(href=`${video.id}/edit`)--->localhost:4000/videos/1/edit    

//- video.views === 1? "view" : "views" -> video.views가 1일때, 참이면 view, 거짓이면 views